<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<title th:text="${@site.title}">mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
	<!-- header include -->
		<th:block th:include="th/includes/header"></th:block>
		
		<div id="content">
			<div id="board">
				<form class="board-form" method="post" th:action="@{/board/write}">
					
					<!-- hidden depth -->
                	<input type="hidden" name="depth" th:value="${boardVo.depth}">
					
					<!-- parentId 있을 경우만 -->
                	<input type="hidden" name="parentId" th:value="${boardVo.parentId}" th:if="${boardVo.parentId != null}">
                
                	<!-- 페이지 정보 hidden -->
                	<input type="hidden" name="p" th:value="${param.p}">
                	<input type="hidden" name="kwd" th:value="${param.kwd}">
					
					<table class="tbl-ex">
						<tr>
							<th colspan="2">글쓰기</th>
						</tr>
						<tr>
							<td class="label">제목</td>
							<td><input type="text" name="title" th:value="${boardVo.title}"></td>
						</tr>
						<tr>
							<td class="label">내용</td>
							<td>
								<textarea id="contents" name="contents" th:text="${boardVo.contents}"></textarea>
							</td>
						</tr>
					</table>
					
					<div class="bottom">
						<!-- 취소 버튼 -->
						<a 	th:href="@{/board(p=${param.p}, kwd=${param.kwd})}">취소</a>
						<input type="submit" value="등록">
					</div>
				</form>				
			</div>
		</div>
		
		<th:block th:include="th/includes/navigation"></th:block>
		<th:block th:include="th/includes/footer"></th:block>
	</div>
</body>
</html>