<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="ko">
<head>
<title th:text="${@site.title}">mysite</title>
<meta http-equiv="contents-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<th:block th:include="th/includes/header"></th:block>
		
		<div id="content">
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td th:text="${boardVo.title}"></td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<p class="view-content" th:text="${boardVo.contents}" style="white-space:pre-line"></p>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<!-- 글목록 -->
                	<a th:href="@{/board(p=${param.p}, kwd=${param.kwd})}">글목록</a>

                	<!-- 로그인 사용자만 -->
                	<sec:authorize access="isAuthenticated()">
                    	<!-- 답글 -->
                    	<a th:href="@{/board/reply/{no}(no=${boardVo.no}, p=${param.p}, kwd=${param.kwd})}">답글 달기</a>

                    <!-- 본인 글일 경우 수정 -->
                    <sec:authentication property="principal" var="authUser"/>
                   	 	<a th:if="${authUser.name == boardVo.writer}"
                       	   th:href="@{/board/modify/{no}(no=${boardVo.no}, p=${param.p}, kwd=${param.kwd})}">
                        	글수정
                    	</a>
					</sec:authorize>
				</div>
			</div>
		</div>
		
		<th:block th:include="th/includes/navigation"></th:block>
		<th:block th:include="th/includes/footer"></th:block>
	</div>
</body>
</html>